@model ScheduleViewModel
@{
		ViewBag.Title = UIStrings.EditSchedule;
}

<div id="submenu">
	<h1>@UIStrings.EditSchedule</h1>
	<ul>
		<li>@Html.ActionLink(UIStrings.TVGuide, "TVGuide", "Television")</li>
		<li>@Html.ActionLink(UIStrings.Recordings, "Recordings", "Television")</li>
		<li>@Html.ActionLink(UIStrings.Schedules, "Index", "Schedule")</li>
		<li>@Html.ActionLink(UIStrings.Status, "Index", "Status")</li>
	</ul>
</div>

<div id="content">
@Html.Partial("_Form")
</div>