@model ServiceAddressesViewModel
@{ViewBag.Title = UIStrings.Multiseat;}

@Html.jQuery().AddDocumentReadyScript("discoverServices(\"" + Url.Action("DiscoverServices") + "\", \"" + Url.ContentLink("Images/logo-mp.png") + "\", " +
	"\"" + UIStrings.CopyToForm + "\", \"MediaPortal\", \"TV\", \"" + UIStrings.MultiseatNoServersFound + "\");")
@Html.Assets().AddViewStylesheet("Settings/Services.css")
@Html.Assets().AddViewScript("Settings/Services.js")

<div id="submenu">
	<h1>@UIStrings.Multiseat</h1>
</div>


<div id="content">

<p>@UIStrings.MultiseatExplanation</p>

@using (Html.BeginForm("Services", "Settings", FormMethod.Post, new { id = "servicesForm" }))
{
	<table class="content">
		<tr>
			<td>
				@Html.LabelFor(m => m.MAS)
			</td>
			<td>
				@Html.TextBoxFor(m => m.MAS)
				@Html.ValidationMessageFor(m => m.MAS)
			</td>
		</tr>
		<tr>
			<td>
				@Html.LabelFor(m => m.TAS)
			</td>
			<td>
				@Html.TextBoxFor(m => m.TAS)
				@Html.ValidationMessageFor(m => m.TAS)
			</td>
		</tr>
		<tr>
			<td>
				@Html.LabelFor(m => m.Username)
			</td>
			<td>
				@Html.TextBoxFor(m => m.Username)
				@Html.ValidationMessageFor(m => m.Username)
			</td>
		</tr>
		<tr>
			<td>
				@Html.LabelFor(m => m.Password)
			</td>
			<td>
				@Html.PasswordFor(m => m.Password, new { value = Model.Password })
				@Html.ValidationMessageFor(m => m.Password)
			</td>
		</tr>
	</table>

	<p><input type="submit" value="@UIStrings.Save" /></p>
}

<br />

<h2>@UIStrings.MultiseatSearchOnNetwork</h2>
<div class="search">
	<div id="loader">
		<img alt="@UIStrings.Searching" src='@Url.ContentLink("Images/ajax-loader.gif")' /><br />
		@UIStrings.Searching
	</div>
</div>
</div>